// src/components/Navbar.astro
<nav>
  <ul class="flex gap-5">
    <li><a href="/">Home</a></li>
    <li><a href="/insights">Insights</a></li>
    <li><a href="/decode">Decode Dubai</a></li>
  </ul>
</nav>
