---
---
// src/components/Navbar.astro

<nav class="bg-white shadow p-4 flex justify-between items-center">
  <div class="text-xl font-semibold">MsquareCo</div>
  <ul class="flex gap-4 text-gray-700">
    <li><a href="/" class="hover:text-black">Home</a></li>
    <li><a href="/insights" class="hover:text-black">Insights</a></li>
    <li><a href="/decode-dubai" class="hover:text-black">Decode Dubai</a></li>
  </ul>
</nav>
