---
// src/layouts/BaseLayout.astro
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
---
<html>
  <head>
    <title>MsquareCo</title>
    <meta charset="UTF-8" />
  </head>
  <body>
    <Navbar />
    <slot /> <!-- Content will be injected here -->
    <Footer />
  </body>
</html>
